<head>
  {{ template "_internal/google_analytics.html" . }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="twitter:account_id" content="{{ .Site.Params.twitter.accountId }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ .Site.Params.twitter.username }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.twitter.username }}" />
  <meta name="twitter:image" content="{{ "img/share.png" | absURL }}" />
  {{- $urlInfo := urls.Parse .Site.BaseURL }}
  <meta name="twitter:domain" content="{{ $urlInfo.Host }}" />

  {{- if eq .URL "/" }}
  <meta name="twitter:title" content="{{ .Site.Params.windowTitle }}">
  <meta name="twitter:description" content="{{ .Site.Params.Description }}">
  <meta name="description" content="{{ .Site.Params.Description }}">
  {{- else }}
  <meta name="twitter:title" content="{{ .Title }} &middot; {{ .Site.Params.windowTitle }}">
  {{- if .Description }}
  <meta name="twitter:description" content="{{ .Description }}">
  <meta name="description" content="{{ .Description }}">
  {{- end }}
  {{- end }}

  <title>
    {{- if eq .URL "/" }}
    {{ .Site.Params.windowTitle }}
    {{- else }}
    {{ .Title }} &middot; {{ .Site.Params.windowTitle }}
    {{- end }}
  </title>

  <!-- CSS -->
  {{- $inServerMode	:= .Site.IsServer }}
  {{- $cssTarget		:= "css/style.css" }}
  {{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
  {{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
  {{ range .Site.Params.css -}}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{ end -}}

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "img/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "img/favicon-16x16.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "img/apple-touch-icon.png" | relURL }}">

  <!-- RSS -->
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
