<head>
  {{ template "_internal/google_analytics.html" . }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ $urlInfo := urls.Parse .Site.BaseURL -}}
  <meta property="og:image"            content="{{ "img/share.png" | absURL }}" />
  <meta property="og:url"              content="{{ .RelPermalink | absURL }}" />
  <meta property="twitter:card"        content="summary" />
  <meta property="twitter:creator"     content="{{ .Site.Params.twitter.username }}" />
  <meta property="twitter:domain"      content="{{ $urlInfo.Host }}" />
  <meta property="twitter:image"       content="{{ "img/share.png" | absURL }}" />
  <meta property="twitter:site"        content="{{ .Site.Params.twitter.username }}" />
  <meta property="twitter:site:id"     content="{{ .Site.Params.twitter.accountId }}" />

  {{- if eq .URL "/" }}
  <meta property="description"         content="{{ .Site.Params.Description }}" />
  <meta property="og:description"      content="{{ .Site.Params.Description }}" />
  <meta property="og:title"            content="{{ .Site.Params.windowTitle }}" />
  <meta property="og:type"             content="website" />
  <meta property="twitter:description" content="{{ .Site.Params.Description }}" />
  <meta property="twitter:title"       content="{{ .Site.Params.windowTitle }}" />
  {{- else }}
  <meta property="og:type"             content="article" />
  <meta property="og:title"            content="{{ .Title }} &middot; {{ .Site.Params.windowTitle }}" />
  <meta property="twitter:title"       content="{{ .Title }} &middot; {{ .Site.Params.windowTitle }}" />
  {{- if .Description }}
  <meta property="description"         content="{{ .Description }}" />
  <meta property="og:description"      content="{{ .Description }}" />
  <meta property="twitter:description" content="{{ .Description }}" />
  {{- end }}
  {{- end }}

  <title>
    {{- if eq .URL "/" }}
    {{ .Site.Params.windowTitle }}
    {{- else }}
    {{ .Title }} &middot; {{ .Site.Params.windowTitle }}
    {{- end }}
  </title>

  <!-- CSS -->
  {{- $inServerMode	:= .Site.IsServer }}
  {{- $cssTarget		:= "css/style.css" }}
  {{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
  {{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
  {{ range .Site.Params.css -}}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{ end -}}

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "img/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "img/favicon-16x16.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "img/apple-touch-icon.png" | relURL }}">

  <!-- RSS -->
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
